@(id: String, barForm: Form[net.fwbrasil.activate.entity.map.MutableEntityMap[Bar]])

@import helper._

    @implicitFieldConstructor = @{
        FieldConstructor(twitterBootstrapInput.f)
    }

@main {

    <h1>Edit bar</h1>

    @form(routes.Bars.update(id)) {

        <fieldset>
            @inputText(barForm("name"), '_label -> "Bar name")
        </fieldset>

        <div class="actions">
            <input type="submit" value="Save this bar" class="btn primary"> or
            <a href="@routes.Bars.read()" class="btn">Cancel</a>
        </div>

    }

    @form(routes.Bars.delete(id), 'class -> "topRight") {
        <input type="submit" value="Delete this bar" class="btn danger">
    }
}
