@(id: String, fooForm: Form[net.fwbrasil.activate.entity.map.MutableEntityMap[Foo]])

@import helper._

    @implicitFieldConstructor = @{
        FieldConstructor(twitterBootstrapInput.f)
    }

@main {

    <h1>Edit foo</h1>

    @form(routes.Foos.update(id)) {

        <fieldset>
            @inputText(fooForm("name"), '_label -> "Foo name")
        </fieldset>

        <div class="actions">
            <input type="submit" value="Save this foo" class="btn primary"> or
            <a href="@routes.Foos.read()" class="btn">Cancel</a>
        </div>

    }

    @form(routes.Foos.delete(id), 'class -> "topRight") {
        <input type="submit" value="Delete this foo" class="btn danger">
    }
}
